<!-- -->
<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <strong>My Orders</strong>
      </ion-title>
      <!-- <ion-buttons end>
        <button ion-button tappable (click)="confirm()">
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-buttons>-->
    </ion-navbar>
  </ion-header>

  <ion-content class="animated fadeIn common-bg">

    <ion-list>
      <ion-item *ngIf="orders.message === undefined">
        <h2>Ref#: {{orders.order_id}}</h2>
        <h3>BranchID: {{orders.branch_id}}</h3>
        <p>LKR: {{orders.tot_cost}}</p>
        <ion-badge item-end color="{{ orders.rider === null ? 'danger' : 'default' }}">{{ orders.rider === null ? 'preparing' : 'en-route' }}</ion-badge>
      </ion-item>
      <ion-item *ngIf="orders.message !== undefined">
        <ion-row justify-content-center>
          <ion-col col-6>
            <ion-icon name="warning"></ion-icon> No orders to show
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

  </ion-content>
